<h1>Create an appearance on the show:</h1>

<%= form_for @appearance do |f| %>
    <%= f.label :name %>:
    <%= f.collection_select :guest_id, @guests, :id, :name %>
    <br />
    <%= f.label "Episode Number:" %>
    <%= f.collection_select :episode_id, @episodes, :id, :number%>
    <br />
    <%= f.label :rating %>:
   <%= f.number_field :rating %>
    <br />
    <%= f.submit "Create an appearance" %>
    <br />
<% end %>