<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Guest List", guests_path %><br/>
    <%= link_to "Episode List", episodes_path %><br/>
    <%= link_to "Create New Appearance", new_appearance_path %><br/>
    <hr>
    <%= yield %>
  </body>
</html>
